.card {
  height: auto;
  margin: 5px;
}
.card:hover {
  cursor: pointer;
}
.homecard-img {
  z-index: 1000;
}

.card img {
  position: relative;
  top: 55px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid grey;
}

.card-content {
  text-align: center;
  border: 1px solid blue;
  z-index: 500;
}

.card-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 40px;
}

.card-description {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
}
